<!DOCTYPE html>
<html>
<head>  
    <title>Crear Producto</title>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="center-align">
        <h2> Crear nuevo producto: </h2>
    </div>

    <main class="flex-box abm-products"> 
        <form class="flex-box" action="/products" method="POST" enctype="multipart/form-data">
            <div class="col-6">
                <div class= "form-box left-align" >
                    <label>Título: </label>
                    <input type="text" id="nombre" name= "titulo" placeholder="Nombre del disco" autocomplete="true" required>
                </div>

                <div class="form-box left-align">
                    <label>Artista: </label>
                    <input type="text" id="artista" name= "artista" placeholder="Artista" autocomplete="true" required>
                </div>

                <div class="form-box left-align">
                    <label>Sello Discográfico: </label>
                    <input type="text" name="sello" id="sello" placeholder="Sello discográfico"
                    autocomplete="true" required>
                </div>

                <div class="form-box left-align">
                    <label>Género: </label>
                    <input type="text" name="genero" id="genero" placeholder="Género musical"
                    autocomplete="true" required>
                </div>

                <div class="form-box left-align">
                    <label>Fecha de Publicación: </label>
                    <input type="date" name="fechaPublicacion" id="fechaPublicacion" placeholder="Fecha de publicación"
                    autocomplete="true" required>
                </div>

                <div class="form-box left-align">
                    <label>Precio: </label>
                    <input type="text" name="precio" id= "precio" placeholder="Precio" required>
                </div>

                <div class="form-box left-align">
                    <label>Formato: </label>
                    <input type="text" name="formato" id= "formato" placeholder="Formato" required>
                    <input type="text" name="pulgadas" id= "pulgadas" placeholder="Pulgadas" required>
                </div>
            </div>

            <div class="col-6">
                <div class="form-box left-align">
                    <p> Agrega una imagen de la tapa del disco: </p>
                    <input type="file" name="tapa" id= "tapa" required>
                </div>

                <div class="form-box left-align">
                    <p>
                        <label>Descripción del producto: </label>
                    </p>
                    <textarea name="descripcion" rows="10" cols="40"></textarea> 
                </div>
            </div>

            <div>
                <button class="boton boton-primary" type="submit">Crear Producto</button>
                <button class="boton boton-secondary" type="reset"> Borrar</button>
            </div>
        </form>            
    </main>

    <%- include('../partials/footer') %>
</body>
</html>