<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle del producto</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <h1>Product Search</h1>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>