/*----------COLORES----------*/
/*
GRIS FONDO: #E8E6E4
GRIS FONDO TONO OSCURO: #D9D6D3
*/
/*----------GENERAL----------*/
* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: 'Heebo', sans-serif;
	position: relative;
	min-height: 100vh;
	padding-bottom: 5rem;
}

a{
	color: black;
	text-decoration: none;
}

main {
	padding-bottom: 100px;
}

.flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.is-space-between {
	justify-content: space-between;
}

ul {
	list-style-type: none;
}

/*----------HEADER----------*/
header {
	display: flex;
	flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
	padding: 10px 5px;
	background-color: #E8E6E4 ; 
}

.logo {
	width: 90%;
	max-width: 240px;
	padding-bottom: .2rem;
	cursor: pointer;
}

.boton-sesion {
	color: black;
	font-size: 2rem;
	padding: 0px .5rem;
	width: 2rem;
	text-decoration: none;
	border-radius: 50%;
	background-color: #D9D6D3;
	position: relative;
	right: .5rem;
}

a.boton-login:hover {
	background-color: #E8E6E4 ;
}

.boton-navbar {
	display: block;
	border: none;
	border-radius: 0.5rem;
	color: black ;
	font-size: 2rem;
	width: 3rem;
	height:3rem;
	text-align: center;
	background-color:#D9D6D3;
	cursor: pointer;
}

.boton-navbar i {
	margin: 10px auto;
}

.nav-menu {
	background-color: #E8E6E4;
	position:absolute;
	margin: 0;
	top: 8rem;
	left: -100vw;
	transition: left .5s;
}

.nav-menu.is-active {
	left: 0px;
}

.item-navbar{
	border: none;
	padding: .2rem 1rem;
	color: black;
	font-size: 1.4rem;
	text-align: center;
	cursor: pointer;
}

.item-navbar:hover{
	background-color:#D9D6D3;
}

.input-buscador {
	width: 100%;
	height: 2rem;
	border-radius: 10px;
	border: none;
	padding-left: .8rem;
}

.input-buscador:focus,  
.boton-navbar:focus {
	outline-color: #D9D6D3;
}

.boton-buscador {
	position: absolute;
	top: 3px;
	right: 0px;
	font-size: 1.2rem;
	color: #D9D6D3;
	background-color: transparent;
	border: none;
	cursor:pointer;
}

.boton-buscador i {
	background-color: transparent;
}

@media(min-width:600px) {
	.input-buscador {font-size: 1rem;}
}


@media(min-width:769px) {
	.header-logo {
		width: 30%;
	}

	
	.header-hamburguesa{
		display:none;
	}

	.nav-menu {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		position: static;
	}
}

/*----------MAIN----------*/
.section-banner {
	width:100%;
}

.banner {
	width:100%;
	object-fit: contain;
}

.main-home {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.home-section {
	width:80%;
	padding-bottom: 30px;
}

.home-section:nth-child(n+2){
	border-top: 2px solid #D9D6D3;
}

.home-section-title {
	padding: 20px 0px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.descripcion-disco {
	font-size: 1.2rem;
	text-align: center;
	color: black;
	text-decoration: none;
}

.disco-home-card a {
	color: black;
	text-decoration: none;
}

.owl-carousel {
	position: relative;
}

.owl-next, 
.owl-prev{
	height: 75%;
	width: 50px;
	position: absolute;
	top:0px;
	font-weight: 700;
}

.owl-next {
	right: 0px;
}

.owl-prev {
	left:0px;
}

.owl-next:focus,
.owl-prev:focus {
	outline:none;
}

/*----------FOOTER----------*/
footer {
	background-color: #E8E6E4;
	height: 5rem;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.social-links {
	color: black;
	font-size: 2rem;
	margin: 10px;
	text-decoration: none;
}

/*----------MAIN----------*/

/* Estilos main detalle del producto: */
.detalle-product p{
	font-size: 1.5rem;
	font-weight: 700;
}

.existencias{
	color: green;
	font-size: .8rem;
	margin-top: 1rem;
}

.boton-estrella {
	position: absolute;
	top: 0px;
	right: -24px;
	font-size: 2rem;
	background-color: transparent;
	border: none;
	color: #D9D6D3;
	cursor: pointer;
}

.boton-estrella.is-active {
	color: yellow;
}

/* Estilos main carrito de compras: */

.aviso{
	color: #2DF505
}

.producto-carrito:nth-child(odd){
	background-color: #EFF3EF;
}

.eliminar-objeto{
	position: absolute;
	color: black;
	right: 1rem;
	top: .2rem;
	font-size: 1.5rem;
}

.producto{
	width: 50%;
	padding-left: 22px;
}


.valor-cantidad{
	width: 50%;
	padding-right: 22px;
	margin-top: 20px;
}

.boton-cantidad{
	height: 30px;
	width: 30px;
}

.subtotal{
	width: 50%;
	padding-left: 22px;
	margin-top: 20px;
}

.subtotal-valor{
	width: 50%;
	padding-right: 22px;
	margin-top: 20px;
}

.caja-total{
	display: flex;
	flex-wrap: wrap;
	background-color: #EFF3EF;
}

.subtotal-total{
	width: 50%;
	padding-left: 22px;
}

.subtotalTotal-valor{
	width: 50%;
	padding-right: 22px;
}

.envio{
	width: 50%;
	padding-left: 22px;
	margin-top: 20px;
}

.direccion-envio{
	width: 50%;
	padding-right: 22px;
	margin-top: 20px;
}

.total{
	width: 50%;
	padding-left: 22px;
	margin-top: 20px;
}

.total-valor{
	width: 50%;
	padding-right: 22px;
	margin-top: 20px;
}



@media(min-width: 769px){	
	.cantidad{
		width: 50%;
		padding-left: 50px;
		margin-top: 20px;
		font-size: 20px;
	}
	
	.valor-cantidad{
		width: 50%;
		padding-right: 22px;
		margin-top: 20px;
		font-size: 20px;
	}
	
	.boton-cantidad{
		height: 30px;
		width: 30px;
	}
	
	.subtotal{
		width: 50%;
		padding-left: 50px;
		margin-top: 20px;
		font-size: 20px;
	}
	
	.subtotal-valor{
		width: 50%;
		padding-right: 22px;
		margin-top: 20px;
		font-size: 20px;
	}
	
	.subtotal-total{
		width: 50%;
		padding-left: 50px;
		font-size: 20px;
	}
	
	.subtotalTotal-valor{
		width: 50%;
		padding-right: 22px;
		font-size: 20px;
	}
	
	.envio{
		width: 50%;
		padding-left: 50px;
		margin-top: 20px;
		font-size: 20px;
	}
	
	.direccion-envio{
		width: 50%;
		padding-right: 22px;
		margin-top: 20px;
	}
	
	.total{
		width: 50%;
		padding-left: 50px;
		margin-top: 20px;
		font-size: 20px;
	}
	
	.total-valor{
		width: 50%;
		padding-right: 22px;
		margin-top: 20px;
		font-size: 20px;
	}
	
	.boton-finalizarCompra{
		color: white;
		font-size: 30px;
		background-color: #F93001;
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 10px;
		border-radius: 5px;
		border: 0px; 
		cursor: pointer;
	} 
}

/* Estilos rutas users login y registro */

.main-users{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.div-users {
	width: 80%;
	max-width: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.div-users h2{
	width: 100%;
	margin: 1rem;
	background-color: #E8E6E4;
}

.form-box input{
	margin: .8rem;
	font-size: 1rem;
	border-radius: .5rem;
	border: 1px solid #D9D6D3;	
}

.form-box .form-error {
	font-size: .8rem;
	color: red;
}

.input-error {
	background-color: lightpink;
}

.form-textarea {
	width: 100%;
	border-radius: .5rem;
	color: black;
	border: 1px solid #D9D6D3;
	resize: none;
	min-height: 5rem;
}

.boton {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	padding: .8rem;
	margin: .5rem;
	border-radius: .3rem;
	border: 0px;
	cursor: pointer;
}

.boton-primary{background-color: #F93001;}

.boton-primary:hover{background-color: #A43015}

.boton-secondary{background-color: #F93001;}

.boton-secondary:hover{background-color: #A43015}

.form-link{
	margin: 15px;
	margin-top: 30px;
}

/* Estilos rutas abm productos */
.abm-products {
	padding: 0rem 1rem;
}



/*Lista de Discos*/
.list-main {
	padding-top: 1rem;
}

.disco-list-card {
	padding: 1rem;
}

.disco-list-card:hover {
	background-color: #E8E6E4;
}

.disco-list-card a {
	text-decoration: none;
}

.disco-list-tapa {
	width: 90%;

}

.discos-grid {
	width: 66.66%;
}

.is-active {
	display: block;
}

.is-centered {
	justify-content: center;
}

.is-aligned-center{
	align-items: center;
}

.is-relative {
	position: relative;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.center-align {
	text-align:center;
}

.test{
	background-color:green;
	border: 1px solid pink;
}

/*Grid Rules*/
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 769px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.is-order-1 {order:1;}
	.is-order-2 {order:2;}
}