/*----------COLORES----------*/
/*
GRIS FONDO: #E8E6E4
GRIS FONDO TONO OSCURO: #D9D6D3
*/
/*----------GENERAL----------*/
* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: 'Heebo', sans-serif;
	position: relative;
	min-height: 100vh;
}

/*----------HEADER----------*/
header {
	display: flex;
	flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
	padding: 10px 5px;
	background-color: #E8E6E4 ; 
}

.header-logo {
	width: 70%;
}

.logo {
	width: 60vw;
	max-width: 240px;
	cursor: pointer;
}

.header-login {
	width: 30%;
	text-align: right;
}

.boton-login {
	color: black;
	font-size: 1.4rem;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
	background-color:#D9D6D3;
}

a.boton-login:hover {
	background-color: #D9D6D3 ;
}

.header-hamburguesa {
	width: 20%;
	padding-left: 10px;
}

.boton-hamburguesa {
	border: none;
	border-radius: 0.5rem;
	color: black ;
	font-size: 2rem;
	text-align: center;
	background-color:#D9D6D3;
	cursor: pointer;
}

.boton-hamburguesa i {
	margin: 10px auto;
}

.header-busqueda {
	width: 80%;
	text-align: right;
	position: relative;
	padding: 10px 5px;
}

.input-buscador {
	width: 100%;
	height: 2rem;
	border-radius: 10px;
	border: none;
}

.input-buscador:focus,  
.boton-hamburguesa:focus {
	outline-color: #D9D6D3;
}

.boton-buscador {
	position: absolute;
	top: 15px;
	right: 5px;
	font-size: 1.2rem;
	color: #D9D6D3;
	background-color: transparent;
	border: none;
	cursor:pointer;
}

.boton-buscador i {
	background-color: transparent;
}

/*----------MAIN----------*/
.section-banner {
	width:100%;
}

.banner {
	width:100%;
	object-fit: contain;
}

.main-home {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
}

.home-section {
	width:80%;
	padding-bottom: 30px;
}

.home-section:nth-child(n+2){
	border-top: 2px solid #D9D6D3;
}

.home-section-title {
	padding: 20px 0px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.descripcion-disco {
	text-align: center;
}

.disco-home-card a {
	color: black;
	text-decoration: none;
}

.owl-carousel {
	position: relative;
}

.owl-next, 
.owl-prev{
	height: 75%;
	width: 50px;
	position: absolute;
	top:0px;
	font-weight: 700;
}

.owl-next {
	right: 0px;
}

.owl-prev {
	left:0px;
}

.owl-next:focus,
.owl-prev:focus {
	outline:none;
}

/*----------FOOTER----------*/
footer {
	background-color: #E8E6E4;
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0px;
}

.social-links {
	color: black;
	font-size: 2rem;
	margin: 10px;
	text-decoration: none;
}

/*----------MAIN----------*/

/* Estilos main detalle del producto: */

.main-productDetail{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.main-productDetail h3{
width: 100%;
margin: 0px;
}

.ejemplo-disco-oasis{
	height: 180px;
	width: 200px;
}

.main-productDetail span{
width: 100%;
}

.titulo-album{
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.precio-producto{
  margin-top: 10px;
  font-size: 20px;
}

.descripcion-producto{
  margin-top: 20px;
}

.tamaño{
  border-bottom: solid 1px rgba(0,0,0,.2);
  padding-bottom: 6px;
}

.existencias{
  color: green;
  font-size: 14px;
  margin-top: 10px;
  position: relative;
  top: 20px;
  right: 75px;
}

.boton-carrito{
	color: white;
	background-color: #F93001;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 0px; 
	cursor: pointer;
/* >>>>>>> bbb0950c3c4c5a492e6ca325d13ad5dbbe8129a2 */
}

.boton-carrito:hover{
  background-color: #A43015;
}


/* Estilos main carrito de compras: */

.aviso{
color: #2DF505
}


.carrito-disco-oasis{
  height: 128px;
  width: 138px;
  margin-bottom: 8px;
}

.imagen-carrito{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #EFF3EF;
}

.eliminar-objeto{
  position: relative;
  left: 60px;
  bottom: 10px;
  font-size: 25px;
}


.caja-carrito{
  display: flex;
  flex-wrap: wrap;
  background-color: #EFF3EF;
}

.producto{
  width: 50%;
  padding-left: 22px;
}

.nombre-disco{
  width: 50%;
  padding-right: 22px;
}

.precio{
  width: 50%;
  padding-left: 22px;
  margin-top: 20px;
}

.precio-valor{
  width: 50%;
  padding-right: 22px;
  margin-top: 20px;
}

.cantidad{
  width: 50%;
  padding-left: 22px;
  margin-top: 20px;
}

.valor-cantidad{
  width: 50%;
  padding-right: 22px;
  margin-top: 20px;
}

.boton-cantidad{
  height: 30px;
  width: 30px;
}

.subtotal{
  width: 50%;
  padding-left: 22px;
  margin-top: 20px;
}

.subtotal-valor{
  width: 50%;
  padding-right: 22px;
  margin-top: 20px;
}

.caja-total{
  display: flex;
  flex-wrap: wrap;
  background-color: #EFF3EF;
}

.subtotal-total{
  width: 50%;
  padding-left: 22px;
}

.subtotalTotal-valor{
  width: 50%;
  padding-right: 22px;
}

.envio{
  width: 50%;
  padding-left: 22px;
  margin-top: 20px;
}

.direccion-envio{
  width: 50%;
  padding-right: 22px;
  margin-top: 20px;
}

.total{
  width: 50%;
  padding-left: 22px;
  margin-top: 20px;
}

.total-valor{
  width: 50%;
  padding-right: 22px;
  margin-top: 20px;
}

 .boton-finalizar-align{
  margin-left: 22px;
}

.boton-finalizarCompra{
  color: white;
  font-size: 20px;
	background-color: #F93001;
	padding: 10px;
	margin-top: 30px;
	border-radius: 5px;
	border: 0px; 
	cursor: pointer;
}

.boton-finalizarCompra:hover{
  background-color: #A43015
}

/* Estilos main Log in */

.main-Login{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}


.main-Login h2{
	width: 100%;
	margin: 15px;
	background-color: #E8E6E4;
}

.formulario-email{
	margin: 15px;
}

.formulario-contraseña{
	margin: 15px;
}

.formulario-recordar{
	margin: 15px;
}


.boton-Ingresar{
	color: white;
	font-size: 20px;
	background-color: #F93001;
	padding: 10px;
	margin-top: 30px;
	border-radius: 5px;
	border: 0px; 
	cursor: pointer;
	margin-right: 10px;
}
  
.boton-Ingresar:hover{
	background-color: #A43015
}

.boton-borrar{
	color: white;
	font-size: 20px;
	background-color: #F93001;
	padding: 10px;
	margin-top: 30px;
	border-radius: 5px;
	border: 0px; 
	cursor: pointer;
	margin-left: 10px;
}
  
.boton-borrar:hover{
	background-color: #A43015
}


.olvide-contraseña{
	margin: 15px;
}

.ir-a-registro{
	margin: 15px;
}

/* Estilos main Registro*/

.main-registro{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}


.main-registro h2{
	width: 100%;
	margin: 15px;
	background-color: #E8E6E4;
}

.formulario-nombre{
	margin: 15px
}

.formulario-apellido{
	margin: 15px
}

.formulario-repetir{
	margin: 15px
}

.boton-registrarse{
	color: white;
	font-size: 20px;
	background-color: #F93001;
	padding: 10px;
	margin-top: 30px;
	border-radius: 5px;
	border: 0px; 
	cursor: pointer;
	margin-right: 10px;
}

.boton-registrarse:hover{
	background-color: #A43015
}
