<!DOCTYPE html>
<html>
<head>  
    <title>Dashboard</title>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/header') %>

<main class="flex-box is-centered is-aligned-center">
    <div class="col-s-8 col-3 list-main">
        <img class="discos-grid" src="/images/assets/vinyl.png" alt="Vinyl image">
        <h2>Productos</h2>
            <div class="item-dashboard flex-box is-aligned-center">
                <a href="/products/create">Crear Producto</a>
            </div>
            <div class="item-dashboard flex-box is-aligned-center">
                <a href="/products/">Editar/Eliminar Producto</a>
            </div> 
    </div>
    <div class="col-s-8 col-3 list-main">
        <img class="discos-grid" src="/images/assets/box.png" alt="Vinyl image">
        <h2>Ventas</h2>
        <div class="item-dashboard flex-box is-aligned-center">
            <a href="/admin">Ver Envíos Pendientes</a>
        </div>
        <div class="item-dashboard flex-box is-aligned-center">
            <a href="/admin">Ver Ventas</a>
        </div>
    </div>
    <div class="col-s-8 col-3 list-main">
        <img class="discos-grid" src="/images/assets/users.png" alt="Vinyl image">
        <h2>Usuarios</h2>
        <div class="item-dashboard flex-box is-aligned-center">
            <a href="/admin/users">Listar Usuarios</a>
        </div>
        <div class="item-dashboard flex-box is-aligned-center">
            <a href="/admin/list">Listar Administradores</a>
        </div>
    </div>
    <div class = "col-s-8">
        <button class = "boton boton-success">
            <a href="/admin/dashboard"><i class="fas fa-chart-line"></i> Dashboard</a>
        </button>
    </div>
    
</main>

    <%- include('../partials/footer') %>
</body>
</html>