<!DOCTYPE html>
<html>
<head>  
    <title>Dashboard</title>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/header') %>

<main class="flex-box is-centered"> 
    
</main>

    <%- include('../partials/footer') %>
</body>
</html>