<!DOCTYPE html>
<html>
<head>  
    <title>Rockolla</title>
	<%- include('../partials/head')%>
</head>
<body>
	<%- include('../partials/header') %>

    <main class="main-registro"> 

        <h2> Editar un producto: </h2>

        <form action="/admin/productCreate" method="POST">

            <div class= "formulario-box" >
                <input type="text" id="nombre" name= "nombre" placeholder="Nombre del disco" autocomplete="true" required>
            </div>

            <div class="formulario-box">
                <input type="text" id="artista" name= "artista" placeholder="Artista" autocomplete="true" required>
            </div>

            <div class="formulario-box">
                <input type="text" name="sello" id="sello" placeholder="Sello discográfico"
                    autocomplete="true" required>
            </div>
        
            <div class="formulario-box">
                <input type="text" name="genero" id="genero" placeholder="Género musical"
                    autocomplete="true" required>
            </div>

            <div class="formulario-box">
                <input type="text" name="fecha" id="fecha" placeholder="Fecha de publicación"
                    autocomplete="true" required>
            </div>

            <div class="formulario-box">
                <input type="text" name="precio" id= "precio" placeholder="Precio" required>
            </div>

            <div class="formulario-box">
                <input type="text" name="pulgadas" id= "pulgadas" placeholder="Pulgadas" required>
            </div>

            <div class="formulario-box">
                <p>
                    <label>Descripción del producto</label>
                </p>
                <textarea name="descripcion" rows="10" cols="30"></textarea> 
            </div>

            <div class="formulario-box">
                <p> Agrega una imagen de la tapa del disco</p>
                <input type="file" name="tapa" id= "tapa" placeholder="Tapa del disco" required>
            </div>



            <div>
                <button class="boton-registrarse" type="submit"> 
                    <a href="/index"></a>  Crear Producto </button>
                <button class="boton-borrar" type="reset"> Borrar</button>
            </div>



        </form>



    </main>

	<%- include('../partials/footer') %>

</body>
</html>