<footer>
    <div class="social-networks">
        <a class="social-links" href="https://www.facebook.com">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a class="social-links" href="https://www.instagram.com">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="social-links" href="https://www.twitter.com">
            <i class="fab fa-twitter-square"></i>
        </a>
    </div>
    <div>
        Copyright © 2020 Rockolla S.A.
    </div>
</footer>