<header>
	<section class="header-logo">
		<a href="/">
			<img class="logo" src="/images/logo.svg">
		</a>
	</section><!--
	
--><section class="header-login">
		<a class="boton-login" href="/product/cart"><i class="fas  fa-shopping-cart "></i></a>
		<a class="boton-login" href="/user/login">Log in <i class="fas fa-user"></i></a>
	</section>

	<section class="header-hamburguesa">
		<button class="boton-hamburguesa">
			<i class="fas fa-bars"></i>
		</button>
	</section><!--

--><section class="header-busqueda">
		<form action="/product/search" method="POST">
			<input class="input-buscador" type="text" name="search" id="search" placeholder="¿Qué disco estas buscando?">
			<button class="boton-buscador" type="submit">
				<i class="fas fa-search"></i>
			</button>
		</form>
	</section>
</header>
