<!DOCTYPE html>
<html>
<head>  
    <title>Login</title>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="main-users">
        <div class="div-users">
            <h2 class= ""> Ingresar </h2>

            <form action="/user/login" method="POST">
                <div class="form-box">
                    <input type="email" name="email" id="email" placeholder="Email"
                    autocomplete="true" required>
                </div>
                
                <div class="form-box">
                    <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="true" required>
                </div>
                
                <div class="form-box">
                    <input type="checkbox" name="recordar-contraseña" value="recordar contraseña"> Recordar mi Contraseña
                </div>
                
                <div>
                    <button class= "boton boton-primary" type="submit"> Ingresar </button>
                    <button class= "boton boton-secondary" type="reset"> Borrar</button>
                </div>
                
                <a class="form-link" href="">Olvidé mi contraseña.</a> <br>
                <a  class="form-link" href="/user/registro">¿No tenés cuenta? Registrate acá</a>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>

