<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<%- include('./partials/head') %>
</head>
<body>
	<%- include('./partials/header') %>

	<main class="flex-box">
		<div class="col-s-8 flex-box">
			<h1>Error 404: No pudimos encontrar lo que estas buscando...</h1>
			<img class="col-s-8 col-6" src="/images/assets/404.png" alt="Broken Vinyl">
		</div>
	</main>

	<%- include('./partials/footer') %>
</body>
</html>