<!DOCTYPE html>
<html>
<head>
    <title>Rockolla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>
		<section class="header-logo">
			<img class="logo" src="images/logo.svg">
		</section><!--
	--><section class="header-login">
			<a class="boton-login" href="/login">Log in <i class="fas fa-user"></i></a>
		</section>

		<section class="header-hamburguesa">
			<button class="boton-hamburguesa">
				<i class="fas fa-bars"></i>
			</button>
		</section><!--
	--><section class="header-busqueda">
			<form action="/" method="POST">
				<input class="input-buscador" type="text" name="search" id="search" placeholder="¿Qué disco estas buscando?">
				<button class="boton-buscador" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</section>
	</header>
</body>
</html>