<!DOCTYPE html>
<html>
<head>  
	<title>Rockolla</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />

	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<header>
		<section class="header-logo">
			<img class="logo" src="images/logo.svg">
		</section><!--
		
	--><section class="header-login">
			<a class="boton-login" href="/login">Log in <i class="fas fa-user"></i></a>
		</section>

		<section class="header-hamburguesa">
			<button class="boton-hamburguesa">
				<i class="fas fa-bars"></i>
			</button>
		</section><!--

	--><section class="header-busqueda">
			<form action="/" method="POST">
				<input class="input-buscador" type="text" name="search" id="search" placeholder="¿Qué disco estas buscando?">
				<button class="boton-buscador" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</section>
	</header>

	<section class="section-banner">
		<img class="banner" src="images/home-banner.jpg">
	</section>

	<main class="main-home">
		<section class="home-section">
			<div class="home-section-title">Novedades</div>
			
			<div class="owl-carousel"> 
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
			</div>
		</section>


		<section class="home-section">
			<div class="home-section-title">Los Más Buscado</div>
			
			<div class="owl-carousel"> 
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
				<div class="disco-home-card">
					<section class="portada-disco">
						<img src="/images/ejemplo-disco-oasis.jpg">
					</section>
					<section class="descripcion-disco">
						<div>Oasis</div>
						<div>(What's the Story) Morning Glory?</div>
					</section>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<div class="social-networks">
			<a class="social-links" href="https://www.facebook.com">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a class="social-links" href="https://www.instagram.com">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="social-links" href="https://www.twitter.com">
				<i class="fab fa-twitter-square"></i>
			</a>
		</div>
		<div>
			Copyright © 2020 Rockolla S.A.
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="js/index.js"></script>

</body>
</html>