<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Log In</title>
</head>
<body> 
    <header>
		<section class="header-logo">
			<img class="logo" src="images/logo.svg">
		</section>
    </header>

    <main>

        <h1> Ingresar </h1>

        <form action="" method="POST">
            <div>
                <input type="email" name="email" id="email" placeholder="Email"
                    autocomplete="true" required>
            </div>
        
            <div>
                <input type="password" name="password" id="password" placeholder="Contraseña"
                    autocomplete="true" required>
            </div>

            <div>
                <input type="checkbox" name="recordar contraseña" value="recordar contraseña"> Recordar mi Contraseña
            </div>

            <div>
                <button type="submit"> Ingresar </button>
                <button type="reset"> Borrar</button>
            </div>

            <a href="">Olvidé mi contraseña.</a> <br>
            <a href="/views/registro.html">¿No tenés cuenta? Registrate acá</a>


        </form>


    </main>

    <footer>
		<div>
			Copyright © 2020 Rockolla S.A.
		</div>
	</footer>
</body>
</html>