<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Detalle del producto</title>
</head>
<body>
    <header>
        <img class="logo" src="/images/logo.svg" alt="Logo de Rockolla">
        <div>LOG IN</div>
    </header>
    <main class="main-productDetail">
        <h2>SU SELECCIÓN: </h2>
        <img class="ejemplo-disco-oasis" src="/images/ejemplo-disco-oasis.jpg" alt="Ejemplo disco de Oasis">
        <h3>Oasis</h3>
        <h3 clas="titulo-album">(What's the story?) Morning Glory</h3>
        <span>Descripción del producto</span>
        <span>$XXXXX</span>
        <span>Tamaño en pulgadas (")</span>
        <span>Hay/No hay existencias</span>
        <form>
        <input type="button" name="minus" id="minus" value="-">
        <input type="number" name="requests" id="requests" step="1" min="1" max="5" placeholder="1">
        <input type="button" name="plus" id="plus" value="+">
        <button class="boton-carrito" type="submit">Añadir al carrito</button>
        </form>
    </main>
</body>
</html>