<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Detalle del producto</title>
</head>
<body>
        <header>
            <section class="header-logo">
                <img class="logo" src="images/logo.svg">
            </section><!--
        --><section class="header-login">
                <a class="boton-login" href="/login">Log in <i class="fas fa-user"></i></a>
            </section>
    
            <section class="header-hamburguesa">
                <button class="boton-hamburguesa">
                    <i class="fas fa-bars"></i>
                </button>
            </section><!--
        --><section class="header-busqueda">
                <form action="/" method="POST">
                    <input class="input-buscador" type="text" name="search" id="search" placeholder="¿Qué disco estas buscando?">
                    <button class="boton-buscador" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </section>
        </header>

    <main class="main-productDetail">
        <h2 class="titulo-suSeleccion">SU SELECCIÓN: </h2>
        <img class="ejemplo-disco-oasis" src="/images/ejemplo-disco-oasis.jpg" alt="Ejemplo disco de Oasis">
        <h3 class= "banda">Oasis</h3>
        <h3 class="titulo-album">(What's the story?) Morning Glory</h3>
        <span class="precio-producto"><strong>$XXXXX</strong></span>
        <span class="descripcion-producto">Descripción del producto</span>
        <span class="tamaño">Tamaño en pulgadas (")</span>
        <span class="existencias"><i class="fas fa-thumbs-up"></i>Hay existencias</span>
        <form class= "formulario-añadirCarrito">
        <input type="button" name="minus" id="minus" value="-">
        <input type="number" name="requests" id="requests" step="1" min="1" max="5" placeholder="1">
        <input type="button" name="plus" id="plus" value="+">
        <button class="boton-carrito" type="submit">Añadir al carrito</button>
        </form>
    </main>
    <footer class="footer-detalle">
		<div class="social-networks">
			<a class="social-links" href="https://www.facebook.com">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a class="social-links" href="https://www.instagram.com">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="social-links" href="https://www.twitter.com">
				<i class="fab fa-twitter-square"></i>
			</a>
		</div>
		<div>
			Copyright © 2020 Rockolla S.A.
		</div>
	</footer>
</body>
</html>