<!DOCTYPE html>
<html>
<head>  
	<title>Rockolla</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />

	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<header>
		<section class="header-logo">
			<a href="/">
				<img class="logo" src="images/logo.svg">
			</a>
		</section><!--
		
	--><section class="header-login">
			<a class="boton-login" href="/carrito"><i class="fas  fa-shopping-cart "></i></a>
			<a class="boton-login" href="/login">Log in <i class="fas fa-user"></i></a>
		</section>

		<section class="header-hamburguesa">
			<button class="boton-hamburguesa">
				<i class="fas fa-bars"></i>
			</button>
		</section><!--

	--><section class="header-busqueda">
			<form action="/" method="POST">
				<input class="input-buscador" type="text" name="search" id="search" placeholder="¿Qué disco estas buscando?">
				<button class="boton-buscador" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</section>
	</header>
    
    <main class="main-registro"> 

        <h2> Registrate</h2>

        <form action="/registro" method="POST">

            <div class= "formulario-nombre" >
                <input type="text" id="nombre" name= "nombre" placeholder="Nombre" autocomplete="true" required>
            </div>

            <div class="formulario-apellido">
                <input type="text" id="apellido" name= "apellido" placeholder="Apellido" autocomplete="true" required>
            </div>

            <div class="formulario-email">
                <input type="email" name="Email" id="email" placeholder="Email"
                    autocomplete="true" required>
            </div>
        
            <div class="formulario-contraseña">
                <input type="password" name="password" id="password" placeholder="Contraseña"
                    autocomplete="true" required>
            </div>

            <div class="formulario-repetir">
                <input type="password" name="password" id="password" placeholder="Repetir Contraseña"
                    autocomplete="true" required>
            </div>

            <div class="formulario-recordar">
                <input type="checkbox" name="recordar contraseña" value="recordar contraseña"> Recordar mi Contraseña
            </div>

            <div>
                <button class="boton-registrarse" type="submit"> 
                   <a href="/index"></a>  Registrate </button>
                <button class="boton-borrar" type="reset"> Borrar</button>
            </div>

            <a class="olvide-contraseña" href="">Olvidé mi contraseña.</a> <br>

            <a  class="ir-a-login" href="/login">¿Ya tenes cuenta? Ingresa aca</a>
            


        </form>



    </main>

	<footer>
		<div class="social-networks">
			<a class="social-links" href="https://www.facebook.com">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a class="social-links" href="https://www.instagram.com">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="social-links" href="https://www.twitter.com">
				<i class="fab fa-twitter-square"></i>
			</a>
		</div>
		<div>
			Copyright © 2020 Rockolla S.A.
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="js/index.js"></script>

</body>
</html>